.profile {
  margin: 0 auto;
  overflow: hidden;
  width: 300px;
  background-color: var(--primary-bg-color);
  border-radius: 8px;
  box-shadow: 2px 2px 5px var(--primary-bg-color);
  border: 1px solid var(--primary-bg-color);
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

.avatar {
  background-color: var(--secondary-bg-color);
  padding: 2px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  color: #141313;
  font-size: 22px;
  font-weight: 700;
}

.tag,
.location {
  color: var(--secondary-color);
  font-size: 16px;
}

.stats {
  list-style: none;
  display: flex;
  gap: 1px;
  padding-left: 0;
  margin: 0;
  background-color: var(--primary-bg-color);
}

.item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  background-color: var(--secondary-bg-color);
}

.label {
  font-size: 14px;
  color: var(--secondary-color);
  margin-bottom: 5px;
}

.quantity {
  font-size: 16px;
  color: var(--primary-color);
  font-weight: 700;
}
