@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --primary-color: #141313;
  --secondart-color: #8e8e8e;
  --primary-bg-color: #e8e8e8;
  --secondary-bg-color: #ffffff;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 0;
}

.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
